[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests-mock = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
many-stop-words = "*"

[requires]
python_version = "3.7"
